body {
    background-image: linear-gradient(to left,#01012E,#010A2E,#01192E) }
  .crimson-text-semibold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: italic;
  }
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav a {
    color: #f8f8f8;
    margin-right: 10px;
    text-decoration: none;
  }
  nav [data-destaque] {
    color: rgb(52, 36, 192);
    font-weight: bold;

  }
  h1{
    color: white;
  }
  h4{
    color: #f8f8f8;
  }
  p{
    color: white;
    margin-left: 500px;
    margin-top: -450px;
    text-align: left;
    font-size:larger;
  }

  #container {
    text-align: center;
  }
  label {
    display: block;

  }   
  img {
    width: 400px; 
    margin-top: 10px;
  }
  .Imagemcomplemento {
    float: left;
    margin-right: 1350px; /* Adicione uma margem à direita para separar a imagem do slideshow */
 }
  .slideshow-container {
    position: relative;
    max-width: 85%;
    overflow: hidden;
    margin: auto;
    width: 400px;
    margin-right: 1400px; 
 }

.slide {
    display: none;

  }

.fade {
    animation-name: fade;
    animation-duration: 1.0s;
 }

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
 }
