body {
    font-family: 'Athene', sans-serif;
    background-color: rgb(5, 3, 107)
  }
 
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav a {
    color: #f8f8f8;
    margin-right: 10px;
    text-decoration: none;
  }
  nav [data-destaque] {
    color: rgb(52, 36, 192);
    font-weight: bold;

  }
  h1{
    color: white;
    margin-right: 1240px; /* Define a margem direita como 20 pixels */
  }
  p{
    color: white;
      margin-right: 1240px; /* Define a margem direita como 20 pixels */
  }
  #container {
    text-align: center;
  }
  label {
    display: block;

  }   
  img {
    width: 400px;
    margin-right: 1350px; /* Define a margem direita como 20 pixels */
  }

  .slideshow-container {
    position: relative;
    max-width: 85%;
    overflow: hidden;
    margin: auto;
}

.slide {
    display: none;

}

.fade {
    animation-name: fade;
    animation-duration: 1.0s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@font-face {
  font-family: 'MinhaFonte';
  src: url('Athene.otf') format('oft');
}


